<div class="footer">
           
    <div class="contact">
        <h2>Thương Em ^^~</h2>
        <p><span></span>Tạ Ngọc Minh Thư </p>
        <p><span></span>Mong mọi điều tốt đẹp sẽ đến với em </p>
        <!-- <p><span>Emai:</span> Vinh@fpt.edu.vn <p>
        <p><span>Tel:</span> 0909090909</p> -->
    </div>
    <div class="link">
        <p> &copy; </p>
    </div>