<%- include('partials/header') -%>

<!DOCTYPE html>
<html>
<head>


</head>
<body>






  
    <div class="card">
      <h3 style="color: red;"></h3>
      <div class=""><p><img src="/images/33.jpg" width ="center"></p></div>
   
      <div class=""><p><img src="/images/55.jpg" width ="center"></p></div>
      <div class=""><p><img  src="/images/99.jpg" width ="center"></p></div>
    </div>
    <div class="card">
      <iframe width="560" height="315"
      src="https://www.youtube.com/embed/fwon1q8Lpi0?autoplay=1&cc_load_policy=1"frameborder="0" 
      allowfullscreen></iframe></h1>
    </div>
  </div>
</div>

  





<%- include('partials/footer') -%>